## Q1

In [47]:
# Given a list of numbers, create a function that removes 25% from every number in the list except the 
# smallest number, and adds the total amount removed to the smallest number.

def show_the_love(l):
    
    s = 0
    for i in range(0,len(l)):
        if(l[i]!=min(l)):
            s = s + 0.25*l[i]
            l[i] = 0.75*l[i]
    
    for i in range(0,len(l)):
        if(l[i]==min(l)):
            l[i]=l[i]+s
            break
    
    return l

In [48]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [49]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

## Q2

In [99]:
# Create a function that takes in two words as input and returns a list of three elements, 
# in the following order:

# 1.Shared letters between two words.
# 2.Letters unique to word 1.
# 3.Letters unique to word 2.


def letters(str1,str2):

    res = []
    
    res.append("".join(sorted(list(set([i for i in str1 if i in str2])))))
    res.append("".join(sorted(list(set(str1) - set(str2)))))
    res.append("".join(sorted(list(set(str2) - set(str1)))))
    
    return res

In [100]:
letters("match","ham")

['ahm', 'ct', '']

In [101]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

## Q3

In [190]:
# Write a function that pairs the first number in an array with the last, 
# the second number with the second to last, etc.

def pairs(l):
    
    templ = l.copy()
    templ.reverse()
    
    res = []
    if(len(l)%2==0):
        u = int(len(l)/2)
        for i in range(0,u):
            temp = []
            temp.append(l[i])
            temp.append(templ[i])
            res.append(temp)
    
    else:
        u = int((len(l)+1)/2)
        for i in range(0,u):
            temp = []
            temp.append(l[i])
            temp.append(templ[i])
            res.append(temp)
    
    return res

In [191]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [192]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [193]:
pairs([1, 2, 3, 4,5,6])

[[1, 6], [2, 5], [3, 4]]

## Q4

In [233]:
# Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

def add_str_nums(num1,num2):
    if(num1 == "" or num2 == ""):
        return "-1"
    
    elif(num1.isalpha()==True or num2.isalpha()==True):
        return "-1"
        
    else:
        
        return str(int(num1) + int(num2))

In [234]:
add_str_nums("4", "5")

'9'

In [239]:
add_str_nums("abcdefg", "3")

'-1'

In [240]:
add_str_nums("1", "")

'-1'

## Q5

In [312]:
def unmix(string):
    
    res = ""
    for i in range(1,len(string),2):
        temp = ""
        temp = string[i]+string[i-1]
        i = i +2
        res = res + temp
    
    if(len(string)%2==0):
        
        return res
    else:
        return res + string[-1]

In [314]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [315]:
unmix("123456")

'214365'

In [316]:
unmix("badce")

'abcde'