## Q1

In [1]:
# Create a function that takes a number as an argument and returns True or False depending
# on whether the number is symmetrical or not. A number is symmetrical when it is the same as
# its reverse.

def is_symmetrical(num):
    if(str(num)==str(num)[::-1]):
        return True
    else:
        return False
    
is_symmetrical(7227)

True

In [2]:
is_symmetrical(12567)

False

## Q2

In [3]:
# Given a string of numbers separated by a comma and space, return the product of the
# numbers.

def multiply_nums(n_str):
    l_str = n_str.split(",")
    p = 1
    for i in range(0,len(l_str)):
        p = p*int(l_str[i])
    
    return p

multiply_nums("2,3")

6

## Q3

In [4]:
# Create a function that squares every digit of a number.

def square_digits(num):
    str_num = str(num)
    res = ""
    for i in range(0,len(str_num)):
        res = res + str(int(str_num[i])**2)
    in_res = int(res)
    return in_res

In [5]:
square_digits(2483)

416649

## Q4

In [6]:
# Create a function that sorts a list and removes all duplicate items from it.

def setify(l):
    l.sort()
    res= set(l)
    return list(res)

setify([1,3,3,5,5])

[1, 3, 5]

In [7]:
setify([3,3,3,2,1])

[1, 2, 3]

## Q5

In [8]:
# Create a function that returns the mean of all digits

def mean(num):
    n_str = str(num)
    sum = 0
    for i in range(0,len(n_str)):
        sum = sum + int(n_str[i])
    
    mean = sum/len(n_str)
    return mean
        
mean(42)

3.0

In [9]:
mean(12345)

3.0