## Q1

In [1]:
# Write a function that takes a list and a number as arguments. Add the number to the end of
# the list, then remove the first element of the list. The function should then return the updated
# list.

def next_in_line(l,num):
    l.remove(l[0])
    l.append(num)
    return l
    
next_in_line([5,6,7,8,9],1)

[6, 7, 8, 9, 1]

## Q2

In [2]:
# Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

def get_budgets(dic_list):
    sum = 0
    for i in range(0,len(dic_list)):
        sum = sum + dic_list[i]["budget"]
    return sum

In [3]:
get_budgets([{"name":"John","age":21,"budget":23000},
   {"name":"Steve","age":32,"budget":40000},
   {"name":"Martin","age":16,"budget":2700}])

65700

## Q3

In [4]:
# Create a function that takes a string and returns a string with its letters in alphabetical order.

def alphabet_soup(string):
    lstring=list(string)
    lstring.sort()
    return "".join(lstring)

alphabet_soup("hello")

'ehllo'

## Q4

In [5]:
# Create a function that accepts the principal p, the term in years t, the interest rate r, and the
# number of compounding periods per year n. The function returns the value at the end of term
# rounded to the nearest cent.

def compound_interest(p,t,r,n):
    
    a = p*(1+r/n)**(n*t)
    return round(a,2)

compound_interest(10000,10,0.06,12)

18193.97

## Q5

In [6]:
# Write a function that takes a list of elements and returns only the integers.

def return_only_integer(l):
    res = []
    for i in range(0,len(l)):
        if(type(l[i])==int):
            res.append(l[i])
    return res

return_only_integer([9,2,"space","car","lion",16])

[9, 2, 16]