## Q1

In [1]:
km = float(input("Enter distance in kilometers: "))
miles = 0.621371*km
print("{0} kilometers is {1} miles".format(km,miles))

Enter distance in kilometers: 23
23.0 kilometers is 14.291533 miles

## Q2

In [2]:
cel = float(input("Enter temperature in Celsius: "))
fahr = (cel * 9/5) + 32
print("{0} degree Celsius is equal to {1} degree Fahrenheit".format(cel,fahr))

Enter temperature in Celsius: 32
32.0 degree Celsius is equal to 89.6 degree Fahrenheit

## Q3

In [3]:
import calendar

m = int(input("Enter month(in number): ")) #inputting month number
y = int(input("Enter year: ")) #inputting year


print(calendar.month(y, m))

Enter month(in number): 2
Enter year: 1998
   February 1998
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28

## Q4

In [4]:
import cmath

a = float(input("Enter the value of coefficient of x^2: "))
b = float(input("Enter the value of coefficient of x: "))
c = float(input("Enter the value of constant : "))

d = (b**2) - (4*a*c) # calculating the Discriminant

x1 = (-b - cmath.sqrt(d))/(2*a)
x2 = (-b + cmath.sqrt(d))/(2*a)

print("The solutions for the given quadratic equation are {0} and {1}".format(x1,x2))

Enter the value of coefficient of x^2: 2
Enter the value of coefficient of x: 3
Enter the value of constant : 5
The solutions for the given quadratic equation are (-0.75-1.3919410907075054j) and (-0.75+1.3919410907075054j)

## Q5

In [5]:
x = input("Enter first variable: ")
y = input("Enter second variable: ")
x, y = y, x
print("The first variable after swapping is ", x)
print("The second variable after swapping is ", y)

Enter first variable: 23
Enter second variable: 532
The first variable after swapping is  532
The second variable after swapping is  23